body{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(163, 45, 65);
    background-color: rgb(108, 108, 202);

}
body>section>div>h2{
    color: cornflowerblue;
}
body>footer{
    text-align: center;
}
body>nav>ul>li{
    float: left;
    background-color: rgb(173, 95, 173);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-right: 2px;  
}
